.heading1{text-align: center;
    font-size: 42px;
    color: rgb(7, 86, 92);}

.h3{margin: 0px;
color: black;
float: right;
font-size: 47px;}

#h3{font-size: 35px;}

.img1{width: 60px;
height: 60px;
float: left;}

.Gpara{
    float: right;
    font-size: 20px;
    color: rgb(114, 113, 113);
}

a:link {
text-decoration: none;}

a:visited{color:purple;}

.grid{border: 2px;
display: inline-grid;
padding: 30px;
display: grid;
grid-gap: 0px;
grid-column-gap: -50px;
grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1200px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.col{
margin-bottom: 30px;
width: 400px;
height: 150px;
padding: 30px;
border: 15px;
box-shadow: 0px 0px 2px 2px rgb(245, 245, 245);}

.books{background-color: rgb(255, 253, 238);
    background-size: 100%;
}

.img2{width: 350px;
height: 500px;
margin-left: 45px;}

